/* General styles */
body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Lato", sans-serif;
    color: #445361;
    margin: 60px;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

.hidden {
    display: none !important;
}

/* Heading styles */
.logo {
    width: 50%;
    height: auto;
    display: block;
    margin: 20px auto 0 auto;
}

/* Home page area */
.main-area {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-area p {
    font-size: 42px;
    margin: 20px 0;
}

#play-button {
    font-size: 60px;
    padding: 15px 30px;
    background-color: #1E88E5;
    color: white;
    border: none;
}

#play-button:hover {
    background-color: #0D47A1;
}

#scores-button {
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: white;
    color: #1E88E5;
    border: none;
}

#scores-button:hover {
    background-color: #BBDEFB;
}

/* Scores table styles */
#scores-table {
    margin-top: 20px;
}

#scores-table table {
    width: 100%;
    border-collapse: collapse;
}

#scores-table td {
    padding: 8px;
    border: 1px solid white;
}

#scores-table td:first-child {
    font-weight: bold;
}

#scores-table tr:first-child td {
    color: #00E676;
}

#scores-table tr:last-child td {
    color: #D32F2F;
}

/* Quiz selection area */
#quiz-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.quiz-buttons {
    font-size: 18px;
    padding: 12px 24px;
    margin: 8px;
    background-color: #1E88E5;
    color: white;
    border: none;
}

.quiz-buttons:hover {
    background-color: #0D47A1;
}

#back-button {
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: white;
    color: #1E88E5;
    border: none;
}

#back-button:hover {
    background-color: #BBDEFB;
}

/* Quiz Section styling */
#quiz-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#quiz-section h2 {
    font-size: 26px;
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 280px;
    overflow: hidden; /* Hide overflow if images are larger */
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain; /* Maintain aspect ratio and fit within the container */
}

#quiz-input {
    margin-top: 5px;
    padding: 5px;
    font-size: 13px;
}

#quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 80%;
    max-width: 800px;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
}

#quiz-quote {
    font-size: clamp(1rem, 2vw + 1rem, 3rem); /* Responsive font size */
    text-align: center;
    width: 100%;
    word-wrap: break-word; /* Ensure long quotes wrap correctly */
}

.answer {
    font-size: 18px;
    padding: 12px 24px;
    margin: 10px 0;
    background-color: #1E88E5;
    color: white;
    border: none;
}

.answer:hover {
    background-color: #0D47A1;
}

.score-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    font-size: 1rem;
    gap: 20px;
}

.score-title {
    margin: 0;
}

.score-label {
    margin: 0;
}

#quiz-score {
    color: #00E676;
    font-weight: bold;
}

#quiz-incorrect {
    color: #D32F2F;
    font-weight: bold;
}

#save-back-button {
    font-size: 16px;
    padding: 5px 10px;
    margin-top: 20px;
    background-color: white;
    color: #1E88E5;
    border: none;
}

#save-back-button:hover {
    background-color: #BBDEFB;
}

@media screen and (min-width: 768px) {
    /* Main area styling */
    .main-area {
        justify-content: flex-start;
        padding-top: 60px;
    }

    /* Quiz selection area styling */
    #quiz-selection {
        justify-content: flex-start;
        padding-top: 60px;
    }

    /* Quiz section area styling*/
    #quiz-section {
        justify-content: space-between;
        height: 100%;
    }

    .quiz-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .left-section, .right-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .left-section {
        align-items: flex-start;
        padding-left: 20px;
    }

    .right-section {
        align-items: flex-end;
        padding-right: 20px;
    }

    label[for="quiz-input"] {
        font-size: 2rem;
    }

    .score-area {
        flex-direction: column;
    }

    .score-area p {
        font-size: 1.3rem;
    }

    #save-back-button {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (min-width: 992px) {
    .left-section {
        padding-left: 60px;
    }

    .right-section {
        padding-right: 60px;
    }
}

@media screen and (min-width: 1200px) {
    .logo {
        width: 20%;
    }

    .main-area {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        height: 50vh;
    }

    .left-elements {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        padding-left: 60px;
    }

    .right-elements {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        padding-right: 60px;
        margin: 0;
    }

    #quiz-selection {
        padding-top: 0;
    }
    
    .left-section {
        padding-left: 50px;
    }

    #quiz-section h2 {
        font-size: 40px;
    }

    .right-section {
        padding-right: 50px;
    }
}